@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.prova{
    border-width: 2px;
    border-color: black;
}
div{
    border: black 1px solid;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in-out;
		background-color: #9055A2;
	}


	100% {
		animation-timing-function: ease-in-out;
		background-color: #bd7fa1;
	}
}
@keyframes myAnim2 {
	0% {
		animation-timing-function: ease-in-out;
		background-color: #bd7fa1;
	}


	100% {
		animation-timing-function: ease-in-out;
		background-color: #9055A2;
	}
}


.anaralluna{
    color: white;
    margin-top: 25%;
}

.alinearcentre{
    text-align: center;
}

.navbar{
    display: none;
}

.opacitat100{
    opacity: 100%!important;
}

.senyal{
    border: #2e294e 4px solid;
    height: 12vh;
    background-color: #E8C1C5;
    opacity: 75%;
}

.contingut{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

body{
    font-size: 15px;
    background-image: url("../img/moon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.background-color-navbar{
    background-color: #2e294e;
}
.nav-item{
    background-color: #9055A2;
    width: 100%;
    min-width: 20vh;
    height: 6vh;
    text-align: center;
    animation: myAnim2 0.2s ease 0s 1 normal forwards;


}
.nav-item:hover{
    animation: myAnim 0.2s ease 0s 1 normal forwards;
}
.actiu{
    background-color: #D499B9!important;
}

.text-navbar{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
}